<!DOCTYPE html>
<html>

<head>
    <title>

    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        Edit a Brand Post
    </h1>
    <p>Edit a brand post</p>
    <form action="/brands/<%= brandsPost.id %>/edit" method="post">
        <label for="manufacturer">Manufacturer:</label><br>
    <input type="text" id="manufacturer" name="manufacturer" value="<%= brandsPost.manufacturer %>"><br>
    <label for=" model"> Model:</label><br>
    <input type="text" id="model" name="model" value="<%= brandsPost.model %>"><br>
    <label for="color">Color:</label><br>
    <input type="text" id="color" name="color" value="<%= brandsPost.color %>"><br>
    <label for="year"> Year:</label><br>
    <input type="text" id="year" name="year" value="<%= brandsPost.year %>"><br><br>
    <input type="submit" value="Submit">

    </form>
    

</body>

</html>
